<form class="business-form row" name="businessform">
  <span class="business_id id">{{$ctrl.item.id}}</span>
  <span class="invalid">{{$ctrl.item.errors.full_messages}}</span>

 <div class="business-name row col-lg-12">
    <label class="col-xs-3">business name:</label>
    <input class="col-xs-9"
           name="business-name" 
           ng-model="$ctrl.item.name" 
           ng-readonly="!$ctrl.authz.canUpdate"
           maxlength="80"
           placeholder='Business Name'
           pattern=".{3,}" title="3 character minimum for Name"/>
    <span class="invalid">{{$ctrl.item.errors.name}}</span>
  </div>
   <div class="business-address row col-lg-12">
    <label class="col-xs-3">business address:</label>
    <textarea class="col-xs-9"
           col="50"
           rows="10"
           name="business-adress" 
           ng-model="$ctrl.item.address" 
           ng-readonly="!$ctrl.authz.canUpdate"
           maxlength="60"
            placeholder='Business Address'
           pattern=".{15,}" title="15 character minimum for Name"/></textarea>
    <span class="invalid">{{$ctrl.item.errors.address}}</span>
  </div>

<div class="business-controls">
    <span ng-show="$ctrl.authz.authenticated">
      <button name="business-create"
              ng-show="!$ctrl.item.id && $ctrl.authz.canCreate"
              type="submit"
              ng-disabled="businessform.$invalid"
              ng-click="$ctrl.create()">Create Business</button>

      <span ng-show="$ctrl.item.id">
        <button name="business-update"
                type="submit"
                ng-show="$ctrl.authz.canUpdate" 
                ng-disabled="!businessform.$dirty"
                ng-click="$ctrl.update()">Update Business</button>

        <button name="business-delete"
                type="submit"
                ng-show="$ctrl.authz.canDelete" 
                ng-click="$ctrl.remove()">Delete Business</button>
      </span>
    </span>
    <button name="business-clear"
            type="submit"
            ng-show="$ctrl.item.id || businessform.$dirty"
            ng-click="$ctrl.clear()">Clear Business</button>
  </div>



</form>


<div class="services-area" sd-business-service-authz>
   <sd-business-service-selector authz="vm.authz"></sd-business-service-selector>
</div>