<h2 style='text-align:center;'>{{ $ctrl.item.name }}</h2>
<address style='text-align:center;'>{{ $ctrl.item.address }}</address>

<form class="service-form row" name="serviceEditorform">
  <span class="service_id id">{{$ctrl.service.id}}</span>
  <span class="invalid">{{$ctrl.service.errors.full_messages}}</span>

 <div class="service-name row col-lg-12">
    <label class="col-xs-3">service name:</label>
    <input class="col-xs-9"
           name="service-name" 
           ng-model="$ctrl.service[0]['service_name']" 
           ng-readonly="!$ctrl.authz.canUpdate"
           maxlength="80"
           placeholder='Service Name'
           pattern=".{3,}" title="3 character minimum for Name"/>
    <span class="invalid">{{$ctrl.service.errors.name}}</span>
  </div>


  <div class="service-name row col-lg-12">
   <label class="col-xs-3">service price:</label>
    <input class="col-xs-9"
           name="service-price" 
           ng-model="$ctrl.service[0].price" 
           ng-readonly="!$ctrl.authz.canUpdate"
           maxlength="80"
           placeholder='Service Price'
           pattern=".{3,}" title="3 character minimum for Name"/>
    <span class="invalid">{{$ctrl.service.errors.price}}</span>
  </div>


   <div class="service-description row col-lg-12">
    <label class="col-xs-3">service description:</label>
    <textarea class="col-xs-9"
           col="50"
           rows="10"
           name="service-description" 
           ng-model="$ctrl.service[0].description" 
           ng-readonly="!$ctrl.authz.canUpdate"
           maxlength="60"
            placeholder='Service Description'
           pattern=".{30,}" title="15 character minimum for Name"/></textarea>
    <span class="invalid">{{$ctrl.item.service.description}}</span>
  </div>

<div class="service-admin-notes row col-lg-12">
    <label class="col-xs-3">service notes:</label>
    <textarea class="col-xs-9"
           col="50"
           rows="10"
           name="service-admin-notes" 
           ng-model="$ctrl.service[0].admin_notes"
           ng-hide="!$ctrl.authz.canUpdate" 
           ng-readonly="!$ctrl.authz.canUpdate"
           maxlength="60"
            placeholder='Service Service Notes'
           pattern=".{30,}" title="30 character minimum for Name"/></textarea>
    <span class="invalid">{{$ctrl.service.errors.admin_notes}}</span>
  </div>


<div class="service-controls">
    <span ng-show="$ctrl.authz.authenticated">
      <button name="service-create"
              ng-show="!$ctrl.service.id && $ctrl.authz.canCreate"
              type="submit"
              ng-disabled="serviceEditorform.$invalid"
              ng-click="$ctrl.create()">Create Service</button>

      <span ng-show="$ctrl.service.id">
        <button name="service-update"
                type="submit"
                ng-show="$ctrl.authz.canUpdate" 
                ng-disabled="!serviceEditorform.$dirty"
                ng-click="$ctrl.update()">Update Service</button>

        <button name="service-delete"
                type="submit"
                ng-show="$ctrl.authz.canDelete" 
                ng-click="$ctrl.remove()">Delete Service</button>
      </span>
    </span>
    <button name="business-clear"
            type="submit"
            ng-show="$ctrl.service.id || serviceEditorform.$dirty"
            ng-click="$ctrl.clear()">Clear Service</button>
  </div>
</form>